<div class='main'>
    <div>
        <div>
            <p id='mainTitle'>knowledge<span id='logoBase'>Base</span></p>
        </div>
        <div>
            <img src={{ loginImageLink }} alt="MainLoginLink">
        </div>
    </div>
    <div class='formDiv'>
        <form>
            <input class='mid' type='email' placeholder='email' />
            <input class='mid' type='password' placeholder='password' />
            <input class='btn' type='submit' value='login'>
        </form>
        <p id="mainBody">Join the world's largest community for knowledge sharing</p>
        <form>
            <div>
                <input type='text' class='mid' placeholder='firstname' />
                <input type='text' class='mid' placeholder='lastname' />
            </div>
            <div>
                <input type='email' class='lg' placeholder='email' />
            </div>
            <div>
                <input type='password' class='lg' placeholder='password' />
            </div>
            <div>
                <input type='password' class='lg' placeholder='confirm password' />
            </div>
            <input type='submit' class='lg' id='btn' value='signup' />
        </form>
    </div>
</div>